//colors
$light: #ffffff;
$dark: #1e1e1e;
$dark-theme-active-color: #706b6b;
$light-theme-active-color: #bdc3c7;
//font size
$font-large: 30px;
//safe areas
$safe-area-inset-bottom: env(safe-area-inset-bottom);
//flex basis
$default-basis: 33.333333%;
//z-index
$default-z-index: 100;
$overlay-z-index: 101;
//width
$max-keyboard-width: 300px;
