@import 'styles';

.itemsContainer {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: $max-keyboard-width;
  padding-bottom: calc($safe-area-inset-bottom + 15px);
}

.lastRow {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.emptyField {
  flex-basis: $default-basis;
}

.disabledLayout {
  position: absolute;
  z-index: $overlay-z-index;
  width: 100%;
  height: 100%;
}
